<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--    <th>Email</th>-->
<!--    <th>Address</th>-->
<!--    <th>ACL</th>-->
<!--    <th>Home Location</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let user of users">-->
<!--    <td>{{ user._id }}</td>-->
<!--    <td>{{ user.name }}</td>-->
<!--    <td>{{ user.email }}</td>-->
<!--    <td>{{ user.address }}</td>-->
<!--    <td>{{ user.acl }}</td>-->
<!--    <td>{{ user.homeLocation.lat }}, {{ user.homeLocation.lng }}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<div class="table-responsive">
  <table class="table table-striped" ngbTable ngbTableResponsive>
    <thead>
    <tr>
      <th  class="d-none d-sm-table-cell">ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>ACL</th>
      <th>Home Location</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="d-none d-sm-table-cell">{{ user._id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.acl }}</td>
      <td>{{ user.homeLocation.lat }}, {{ user.homeLocation.lng }}</td>
    </tr>
    </tbody>
  </table>
</div>
